input[type='radio'] {
  display: none;
}

.radio-label {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
}

input[type='radio']:checked + .radio-label {
  border: 2px solid #3498db;
}

input[type='radio']:checked + .radio-label::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #3498db;
  border-radius: 100%;
  color: #fff;
}
