

  .skeleton-cards {
    display: flex;
    transition: opacity 0.3s ease-out;
  }
  
  .skeleton-cards.fade-out {
    opacity: 0;
  }

  .skeleton {
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

  .skeleton .image,
  .skeleton h2,
  .skeleton p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
  }

  .skeleton .content {
    background-color: white;
    padding: 10px 20px;
  }
  .skeleton .image {
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .skeleton h2 {
    margin: 20px 0;
    height: 30px;
  }
  .skeleton p {
    height: 70px;
    margin: 16px 0;
  }
  
  @-webkit-keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
  
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

  .product-item {
    transition: opacity 0.3s ease-in;
    opacity: 0;
  }
  
  .product-item.fade-in {
    opacity: 1;
  }